<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<h1 class="col-md-5 mx-auto">Ingrese los nombres de los jugadores:</h1>

<div class="col-md-5 mx-auto">
    <form action='/pvsp' method = 'get'>
        <div class="form-group">
            <label>Player 1:</label>
            <input class="form-control" type="text" name="player1"/>
            <label>Player 2:</label>
            <input class="form-control" type="text" name="player2"/>
            <input class="btn btn-primary" type = 'submit' value = 'Jugar'>
        </div>
    </form>
</div>

